.navmain {
  position: relative;
  width: auto;
  height: 63px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #424040;
  padding-left: 20px;
  padding-right: 10px;
}

.banner_area {
  display: grid;
  filter: blur(0.5px);
  justify-content: center;
  border-radius: 12%;
  padding: 0;
  margin-top: 20px;
}

.brand img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.link span {
  position: absolute;
  color: rgb(170, 21, 21);
  top: 10px;
  font-family: "Roboto", sans-serif;
  padding-left: -12px;
}

.brand {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  padding: auto 4px;
}
.nav_handler {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.brand > h2 {
  font-family: "Roboto", sans-serif;
  color: var(--texcolor);
  text-transform: capitalize;
  font-size: 1.3rem !important;
  font-weight: normal;
}
.link {
  display: block;
  position: relative;
  padding: 5px;
  margin-left: 35px;
}
.link ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.link a {
  text-decoration: none;
  color: var(--texcolor);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 225px;
  height: 15px;
  padding: 14px 42px 16px 12px;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  background-color: #161616;
  border: none !important;
  color: #dddddd;
  cursor: pointer;
}
.search input:focus {
  outline: none;
  border: none;
}
/* Card */

.card_brc {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 12px;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
}

.card_brc > div > h2 {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.card_brc > div > span {
  display: flex;
  justify-content: center;
  font-size: 1.42rem;
  font-weight: 500;
}

.card_main {
  display: block;
  position: relative;
  margin-top: 5.13%;
  padding: 10px;
}

/* Search */

.search_token {
  display: block;
  position: absolute;
  right: 0px;
  z-index: 100;
  top: 54px;
}
.search_token > div {
  background-color: #161616;
  width: 275px;
  height: 400px;
  border-bottom-left-radius: 12px;
  overflow-y: scroll;
  border-bottom-right-radius: 12px;
}
/* Mobile Responsive */

.searchRes {
  display: block;
  padding: 2px;
}

.searchRes ul {
  display: block;
  list-style: none;
  padding: 0;
}

.searchRes li a {
  color: var(--texcolor);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  border-bottom: 1px solid #242222;
}
.searchRes li :hover {
  background-color: #424040;
}

.searchRes li a h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.searchRes li a span {
  font-size: 14px;
}

/*  */
.mobileBar {
  display: none;
}
.bar {
  display: none;
}

.footer {
  display: block;
  position: relative;
  background-color: #0c0c0c;
  width: 100%;
  margin-top: 50px;
  height: 65px;
  border-top: 1px solid #424040;
}
.footer > footer {
  padding: 10px;
}
.footer_social {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
  align-items: center;
}
.footer_social a {
  color: var(--texcolor);
  text-transform: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: all 0.35s ease-in-out;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.copyright span {
  color: #b6b3b3;
  text-transform: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  font-size: 12px;
}
.footer_social a:hover {
  color: #575d77;
}

/* Trend */

.TrendContainer {
  background-color: #0c0c0c;
  width: 100%;
  height: 55px;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.Trending_text {
  padding-left: 10px;
  position: relative;
  z-index: 100;
  background-color: #0c0c0c;
  padding-right: 10px;
  height: 100%;
}
.Trending_text span {
  position: relative;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
}
.Trending_text h6 {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.up {
  color: #19d98b !important;
}
.down {
  color: #e73842 !important;
}

.TrendingContent ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 100%;
  gap: 20px;
  animation-name: scrollText;
  animation-duration: 27s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  white-space: nowrap;
}
.TrendContainer ul a {
  text-decoration: none;
  color: #dddddd;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.TrendContainer ul a span {
  font-size: 16px !important;
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.TrendContainer ul a h6 {
  color: #8a8a8a !important;
  font-size: 14px;
}
.change_trend {
  font-size: 14px !important;
}

/* Gainer Looser */

.gainer_container {
  display: block;
  margin: 12px;
  position: relative;
}

.gainer_main {
  display: flex;
  justify-content: space-around;
  padding: 4px;
}
.gainer_content {
  width: 400px;
  height: 200px;
  display: block;
}
.gc_head h2 {
  font-style: 18px;
  color: #dddddd;
  font-family: "robot", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.content_g {
  padding: 10px;
  display: block;
  overflow: hidden;
  max-height: 170px;
}
.content_g ul {
  list-style: none;
}
.content_g a {
  cursor: pointer;
  color: #dddddd;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}
.content_g h3 {
  color: #dddddd;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
}
.content_g h3 span {
  padding-right: 10px;
  color: #8a8a8a;
  font-size: 12px;
  display: flex;

  align-items: center;
}
.content_g h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
}
@keyframes scrollText {
  0% {
    transform: translatex(50%);
  }
  100% {
    transform: translatex(-100%);
  }
}
@media screen and (max-width: 972px) {
  .link {
    display: none;
  }

  .mobileBar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #100d0d;
    z-index: 99;
    display: block;
    transition: all 0.35s ease-in-out;
  }
  .closeButton {
    display: flex;
    justify-content: end;
    padding: 12px;
    font-size: 18px;
    color: white;
  }
  .closeButton span {
    cursor: pointer;
  }
  .mobile_items {
    margin-top: 52px;
    display: block;
    position: relative;
  }
  .mobileBar ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobileBar li {
    border-bottom: 1px solid #20263d;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .mobileBar a {
    color: var(--texcolor);
    font-size: 23px;
    font-family: "robot", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
  }
  .bar {
    display: flex;
    align-items: center;
  }
  .bar span {
    color: white;
  }
  .search {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .card_brc {
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
  }
  .banner_area {
    display: block;
    margin-left: 0px;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
  .gainer_main {
    justify-content: center;
    padding: 4px;
    gap: 6px;
    flex-direction: column;
    align-items: center;
  }
  .gainer_content {
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .banner_area {
    display: block;
    margin-left: 10px;
    transform-origin: 0 0;
  }
}

@media screen and (max-width: 555px) {
  .search {
    display: none;
  }
}
