
.app-wrapper {
    max-width: 70ch;
    padding: 3rem 1rem;
    margin: auto;
    line-height: 1.25;
}
ul li a{
    text-decoration: none !important;
}
section a.active:before
{
    content : '['
}
section a.active:after
{
    content : ']'
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
label
{
    display: block;
}
section .input {
    width: 100%;
    border: 1px solid lightgray !important;
    border-radius: 0.75rem !important;
}
textarea {
    border: 1px solid lightgray;
    border-radius: 0.75rem;
}
.modal {
    display: none;
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 560px;
    max-height: 100vh;
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
}

.modal-content {
    overflow-y: auto;
    max-height: 85vh;
    background-color: white;
    color: black;
    text-align: center;
    border: transparent;
}

.display {
    display: none;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1rem;
    word-wrap: break-word;
    text-align: center;
    position: relative;
}

.display p {
    text-align: left;
}

.checking_mempool, .checking_mempool span {
    color: lightgreen;
}

.feerates {
    display: flex;
    justify-content: space-around;
}

.fee {
    width: 100%;
    max-width: 6rem;
    margin: 0px 0.5rem;
    text-align: center;
    cursor: pointer;
}

.fee .num {
    background-color: grey;
    border: 1px solid white;
    padding: .3rem;
}

.midfee .num {
    background-color: green;
}

.safari_warning {
    display: none;
}

.registration, .upload_file {
    text-decoration: underline;
    cursor: pointer;
}

.unisat, .upload_file {
    text-decoration: underline;
    cursor: pointer;
}

.dns_form, .dns_checker, .timer, .brc20_deploy_form, .brc20_mint_form, .brc20_transfer_form, .text_form, .text_form, .unisat_form, .unisat_checker {
    display: none;
}

section nav
{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10px;
}

section nav ul, .list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

section nav ul li {
    font-size: 16px;
    display: inline-block;

}

section nav ul li a {
    font-size: 16px;
    color: orange;
}

section #logo
{
    color: orange;
}

section .active{
    text-decoration: underline;
}

section .list-group{

    margin-top: 25px;
}

section .list-group li{

    margin-top: 5px;
    margin-bottom: 5px;
}

section .message
{
    border: 1px solid white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: orange;
}

section .options
{
    vertical-align: top;
    display: inline-block;
    width: 45%;
}
.ag-cell {
    display: flex !important;
    align-items: center !important;
}
.options ul li.nav-item {
    margin-bottom: 5px;
}
li .leading-tight.page {
    background-color: #d6d6ea !important;
}
.dark li .leading-tight.page {
    background-color: #24247a !important;
}

@media screen and (max-width: 679px) {
    section .options
    {
        display: block;
        width: 100%;
    }
}